---

- name: Deploy 3scale
  hosts: localhost
  connection: local
  gather_facts: false
  run_once: true
  vars_files:
    - group_vars/3scale.yml

  tasks:
    - set_fact:
        namespace: "{{ namespace_threescale_operator }}"
        work_dir_name: 3scale
        resources_dir: "{{ resources_base_dir }}/3scale"
    - include_role:
        name: 3scale_install
      when: >
        ACTION is not defined or
        ACTION is none or
        ACTION|trim() == "" or
        ACTION|trim() == "create"
    - include_role:
        name: 3scale_install
        tasks_from: uninstall
      when: >
        ACTION is defined and
        ACTION|trim() == "uninstall"
